/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset-to make  sure our css is read the same across all browsers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************/



body{
	background-image:url('https://res.cloudinary.com/teepublic/image/private/s--shl8yv-3--/t_Preview/b_rgb:fffefe,c_limit,f_jpg,h_630,q_90,w_630/v1466196410/production/designs/549657_1.jpg')
}
/***Navbar***/
.navbar{

	margin-bottom:50px;
}

/***Hero image ***/

.bgimage {
	margin-bottom:50px;
	width:100%;
	height:500px;
	/* background: url('/Users/aaliyahmccray/Documents/MyPortfolio/img/Image from iOS (24).jpg'); */
	background-repeat: no-repeat;
	background-position:top;
	/* background-size:cover; */
	background-attachment: fixed;
	/* background-image: url('/img//Image\ from\ iOS\ \(24\).jpg'); */
	background-image: url('/Users/aaliyahmccray/Documents/MyPortfolio/img/Image from iOS (24).jpg');

	
  }
  /* .bgimage h5 {
	color:white;
	text-shadow:2px 2px #333;
  } */


  .herotitle{
	  font-size: 50px;
	  text-align: center;

  }

 

  .page-footer{
	background-color: rgb(230, 230, 230);
}




  