/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset-to make  sure our css is read the same across all browsers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************/




/* Navbar styling*/

ul{
	background-color:rgba(77, 0, 153,0.8);;
	 text-align: center;
	 height:100px;
 }
 
 
 li{
	 float:left;
 }
 li, a{
	 display:inline;
	 text-decoration: none;
	 color:white;
	 text-align:center;
	 padding:30px;
	 font-size:35px;
	 font-family: 'Ubuntu', sans-serif;
 }
 
 

 
 
 .active{
	 background-color:black;
 }
 
 
 header{
	 margin-top:30px;
 }

.heroimg{
	background-image: url("https://media.istockphoto.com/photos/purple-abstract-acrylic-background-picture-id859100948?k=6&m=859100948&s=612x612&w=0&h=D0iDathKCfhLrFwZh6RqupoyWMuvkVmToD_Zl9NiBY8=");
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	height:850px;
	color:rgba(255, 255, 255, 0.39);




}



.herotext{
	margin-top:230px ;
	position: absolute;
	top:50%;
	left:50%;
	text-align:center;
	transform: translate(-50%,-50%);
	color:white;
	font-family: 'Ubuntu', sans-serif;
	text-shadow:1px 1px 0 #444;
}


.headername{
 font-size: 85px;
 margin-top:300px;
 margin-bottom: 100px;
 font-weight: bold;
}


.paraname{
font-size: 45px;
}


.description{
	width:100%;
	height:600px;
}
.aboutmetitle{
	font-size: 55px;
	font-family: 'Raleway', sans-serif;
	margin-left:450px;
}
.aboutmeimg{
	float: left;
	width:450px;
	height:540px;
}

.aboutmetext{
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
}

.myfooter{
	width:100%;
	height:400px;
	background-color: rgb(77, 0, 153,0.8);

}


.medialink{
	height:70px;
	width:70px;
	margin-left:430px;
	margin-top:30px;
}

.medialinktwo{
	height:70px;
	width:70px;
	margin-right:300px;
	margin-bottom:40px;

	
}

.footertitle{
	text-align:center;
	font-size:35px;
	color:white;
	font-family: 'Ubuntu', sans-serif;
}


.copyright{
	text-align:center;
	margin-bottom:40px;
	margin-top:40px;
	color:white;

}

.updates{
	text-align:center;
	margin-top:40px;
	color:white;
}